{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
<main>
    <section class="container-fluid py-5">
        <article>
            <table class="table m-auto">
                <thead>
                <h2 class="blue-title text-center mt-3 mb-5">Mes informations</h2>
                </thead>
                <tbody class="m-5">
                <tr>
                    <th class="table-field-bold" scope="row">Prénom:</th>
                    <td class="table-field-italic">
                        {% if user.firstName %}
                            {{ user.firstName }}
                        {% else %}
                            Faites nous connaître votre prénom.
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <th class="table-field-bold" scope="row">Email:</th>
                    <td class="table-field-italic">{{ user.userIdentifier }}</td>

                </tr>
                <tr>
                    <th class="table-field-bold" scope="row">Allergies alimentaires:</th>
                    <td class="table-field-italic">
                        {% if user.allergyList %}
                            {{ user.allergyList|capitalize }}
                        {% else %}
                            Faites nous connaître vos allérgies alimentaires ainsi que celles de vos convives habituels.
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="table-field-bold" scope="row">Nombre habituel de convives:</th>
                    <td class="table-field-italic">
                        {% if user.guestQuantity %}
                            {{ user.guestQuantity|capitalize }}
                        {% else %}
                            Faites nous connaître votre nombre habituel de convives.
                        {% endif %}

                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center mt-md-5">
                <a type="submit" class="btn btn-form my-3 my-5" href="{{ path('app_update_user') }}">Mettre à jour mes informations</a>
            </div>
        </article>
        <article class="mt-5">
            <table class="table m-auto">
                <thead>
                <h2 class="blue-title text-center mt-3 mb-5">Mes dernières réservations</h2>
                <tr>
                    <th scope="col" class="table-field-bold"></th>
                    <th scope="col" class="table-field-bold text-center">Réservation effectuée le</th>
                    <th scope="col" class="table-field-bold text-center">Date de réservation</th>
                    <th scope="col" class="table-field-bold text-center">Nombre de convives</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td class="table-field-italic text-center">{{ reservation.createdAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</td>
                    <td class="table-field-italic text-center">{{ reservation.reservationDay|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</td>
                    <td class="table-field-italic text-center">{{ reservation.guestQuantity }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </article>
        <div class="d-flex justify-content-center my-5">
            <a type="submit" class="btn btn-form my-3 my-5" href="{{ path('app_reservation') }}">Réserver une table</a>
        </div>

    </section>
</main>
{% endblock %}
