{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block body %}
<main>
    <section class="container-fluid py-5">
        <table class="table m-auto ">
            <thead>
            <h2 class="blue-title text-center mt-3 mb-5">Mes informations</h2>
            </thead>
            <tbody class="m-5">
            <tr>
                <th class="table-field-bold" scope="row">Prénom:</th>
                <td class="table-field-italic">
                    {% if user.firstName %}
                    {{ user.firstName }}
                    {% else %}
                    Faites nous connaître votre prénom.
                    {% endif %}
                </td>

            </tr>
            <tr>
                <th class="table-field-bold" scope="row">Email:</th>
                <td class="table-field-italic">{{ user.userIdentifier }}</td>

            </tr>
            <tr>
                <th class="table-field-bold" scope="row">Allergies alimentaires:</th>
                <td class="table-field-italic">
                    {% if user.allergyList %}
                    {{ user.allergyList|capitalize }}
                    {% else %}
                    Faites nous connaître vos allérgies alimentaires ainsi que celles de vos convives habituels.
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="table-field-bold" scope="row">Nombre habituel de convives:</th>
                <td class="table-field-italic">
                    {% if user.guestQuantity %}
                        {{ user.guestQuantity|capitalize }}
                    {% else %}
                        Faites nous connaître votre nombre habituel de convives.
                    {% endif %}

                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-md-5">
            <a type="submit" class="btn btn-form my-3 mt-5" href="{{ path('app_update_user') }}">Mettre à jour mes informations</a>
        </div>
    </section>
</main>
{% endblock %}
