{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main>
        <section class="container-fluid user-action py-5 px-4 d-flex justify-content-center">
            <div class="container user-form">
                {#get maximum capacity value#}
                <spam id="max-capacity" class="hidden">{{ settings.value }}</spam>
                <h2 class="ms-3 mb-4 form-title">Réserver une table</h2>
                <div class="mt-3 p-3">
                    {% if app.user %}
                        <h5 class="mb-3">Bonjour
                            {% if app.user.firstName %}
                                {{ app.user.firstName }}!
                            {% else %}
                                {{ app.user.email }}!
                            {% endif %}
                        </h5>
                        {% if app.user.guestQuantity %}
                            <div class="userChoices">
                                <span class="userDefaultChoice">{{ app.user.guestQuantity }} </span>
                                <span>couverts, comme d'habitude?</span>

                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="radio" name="{{ app.user.guestQuantity }}" id="setUserDefaultChoice">
                                    <label class="form-check-label" for="setUserDefaultChoice">
                                        Oui
                                    </label>
                                </div>
                                <div class="form-check mt-2 mb-4">
                                    <input class="form-check-input" type="radio" name="radioNew" id="userNewChoice">
                                    <label class="form-check-label" for="userNewChoice">
                                        Non, pas cette fois
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {{ form_start(reservationForm) }}
                    {{ form_row(reservationForm.guestQuantity, {
                        label: 'Nombre de convives'
                    }) }}
                    <div class="hideDiv show-reservation-div">
                        {{ form_row(reservationForm.reservationDay, {
                            label: 'Jour de réservation'
                        }) }}
                    </div>

                    <div id="reservationDate" class="hideDiv mt-3">
                        <span class="reservation-messages-text">Vous souhaitez réserver une table le </span>
                        <span class="day-name-field reservation-messages-text"></span>
                        <span class="day-field reservation-messages-text"></span>
                        <div class="day-available-places hideDiv"></div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="radio" name="radio" id="reservationDayRadioYes">
                            <label class="form-check-label" for="reservationDayRadioYes">
                                Je valide cette date
                            </label>
                        </div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="radio" name="radio" id="reservationDayRadioNon">
                            <label class="form-check-label" for="reservationDayRadioNon">
                                Je change la date
                            </label>
                        </div>
                    </div>
                    <div class="close-message reservation-messages-text hideDiv mt-3">
                        <p>Zut! Vous avez choisit un jour de fermeture...</p>
                        <p>Vérifiez nos horaires en pied de page et renouvelez votre choix en cochant 'Je change la date' ci-dessus.</p>
                        <p>Merci et à très vite!</p>
                    </div>
                    <div id="reservationTimeOfDay" class="mt-3 hideDiv">
                        <span class="reservation-messages-text">Vous souhaitez réserver:</span>
                        <div class="midi-available-places hideDiv"></div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="radio" name="radio" id="reservationMidi">
                            <label class="form-check-label" for="reservationMidi">
                                Midi
                            </label>
                        </div>
                        <div class="soir-available-places hideDiv"></div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="radio" name="radio" id="reservationSoir">
                            <label class="form-check-label" for="reservationSoir">
                                Soir
                            </label>
                        </div>
                    </div>

                    <label for="reservationTime"></label>
                    <select id="reservationTime" class="hideDiv mt-3 form-select" name="reservationTime"></select>


                    <div id="validation" class="mt-3 form-check hideDiv">
                        <input class="form-check-input" type="radio" id="validation">
                        <label class="form-check-label" for="validation">
                            Je vérifie et je valide mes choix
                        </label>
                    </div>

                    <div class="form-reservation-time hideDiv">
                        {{ form_row(reservationForm.reservationTime, {
                            label: 'Heure d\'arrivée'
                        }) }}
                    </div>


                    <div class="hideDiv secondary-display">
                        {{ form_row(reservationForm.email, {
                            label: 'Email',
                        }) }}
                        {{ form_row(reservationForm.firstName, {
                            label: 'Prénom'
                        }) }}
                        {{ form_row(reservationForm.allergyList, {
                            label: 'Allergies alimentaire connues (pour vous et vos convives)'
                        }) }}
                    </div>

                    <button type="submit" class="hideDiv btn btn-lg btn-form my-3 mt-5 reservation-btn">Réserver</button>
                    {{ form_end(reservationForm) }}
                </div>
                <div class="usefully-data d-inline-flex flex-wrap hidden"></div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/reservation/reservation.js') }}" type="text/javascript"></script>
{% endblock %}