{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<main>
    <section class="meals container-fluid py-5 meals-shadow">

        <article>
            <h2 class="blue-title text-center mt-3">A la carte</h2>
            {% for category in mealCategories %}
                <ul class="list-group list-group-flush meal-list p-2 m-auto">
                    <h3 class="meal-categories">{{ category.title }}</h3>
                    {% for meal in meals %}
                        {% if meal.mealCategory.id == category.id %}
                            <li class="meals list-group-item border-0 d-flex justify-content-between">
                                <div>
                                    <p class="meal-name mt-2">{{ meal.title }}</p>
                                    <p class="meal-description">{{ meal.description}}</p>
                                </div>
                                <div>
                                    <p class="meal-name">{{ (meal.price)|format_currency('EUR') }}</p>
                                </div>


                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </article>

        <article class="mt-5">
            <h2 class="blue-title text-center">Nos menus</h2>
            <ul class="list-group list-group-flush">
                {% for menu in mealMenu %}
                    <li class="meals list-group-item border-0 d-flex justify-content-center">
                        <div class="row">
                            <p class="col-12 text-center meal-name mt-3">{{ menu.title }}</p>
                            <p class="col-12 text-center">{{ menu.shortDescription }}</p>
                            <p class="col-12 text-center meal-description">{{ menu.description }}</p>
                            <p class="col-12 text-center meal-name">{{ ((menu.price)/100)|format_currency('EUR') }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </article>

    </section>
</main>

{% endblock %}
