<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Site d'un restaurant fictif réalisé dans le cadre d'une évaluation scolaire.">
        <link rel="apple-touch-icon" sizes="180x180" href="/labouchedesgouts/public/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/labouchedesgouts/public/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/labouchedesgouts/public/favicon-16x16.png">
        <link rel="manifest" href="/labouchedesgouts/public/site.webmanifest">
        <meta name="Content-Language" content="fr">
        <meta name="Keywords" content="restaurant, sortie entre amis, manger, cuisine">
        <meta name="Subject" content="Restaurant underground">
        <meta name="Author" content="Andréa Fourel">
        <meta name="Publisher" content="Andréa Fourel">
        <meta name="Identifier-Url" content="https://andreafourel.fr/labouchedesgouts/public">
        <meta name="Reply-To" content="lbdg.ecf@gmail.com">
        <meta name="Revisit-After" content="21 days">
        <meta name="Robots" content="all">
        <meta name="Rating" content="general">
        <meta name="Distribution" content="global">
        <meta name="Geography" content="France, Gironde, Langon, 33210">
        <meta name="Category" content="food">
        <meta name="google-site-verification" content="Y1jX195rRZDVlXEDeppkL_GvBJd-c5z1ha-kjETrJr4" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
             <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

    </head>
    <body onload="initialize()">
        {% block navbar %}
            {{ include('layout_fragments/_navbar.html.twig') }}
        {% endblock %}
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {{ render(controller('App\\Controller\\FooterController::displaySchedule')) }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
            <script src="{{ asset('scripts/index.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
