<div class="container-fluid footer mt-3">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
            <h4 class="my-3 py-3 px-xl-5">Horraires d'ouverture: </h4>
            {% for day in weekDays %}
                <div class="schedule-wrapper d-flex justify-content-between px-xl-5">
                    <div class="px-1">
                        {{ day.title }}:
                    </div>
                    <div class="px-1">
                        {% if day.open %}
                            {% for daySchedule in dailySchedule %}
                                {% if day.title in daySchedule.weekDays %}
                                    <p>{{ daySchedule.openingTime|date('H:i') }} - {{ daySchedule.closingTime|date('H:i') }}</p>
                                {% endif%}
                            {% endfor%}
                        {% else %}
                            <p>Fermé</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-12 col-sm-6 col-lg-6 text-sm-center">
            <h4 class="my-3 py-3">La Bouche D Gouts</h4>
            <adress class="my-3 py-3">{{ address.value }}</adress>
            <p class="my-3 py-3">{{ phoneNumber.value }}</p>
            <a class="social-link me-3 my-3 py-3 text-decoration-none" href="">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="social-link m-3 py-3 text-decoration-none" href="">
                <i class="bi bi-instagram"></i>
            </a>
            <a class="social-link m-3 py-3 text-decoration-none" href="">
                <i class="bi bi-envelope"></i>
            </a>
            <a class="social-link m-3 py-3 text-decoration-none" href="tel:+33{{ phoneNumber.value }}">
                <i class="bi bi-phone"></i>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-lg-3 text-sm-center text-lg-start">
            <div class="py-3 mt-3">
                <h4 class="">Liens:</h4>
                <a class="simple-link py-3" href="{{ path('app_homepage') }}">Page d'accueil</a>
                <span class="link-pipe">|</span>
                <a class="simple-link py-3" href="#">Carte & Menus</a>
                <span class="link-pipe">|</span>
                {% if is_granted('ROLE_USER') %}
                    <a class="simple-link py-3" href="#">Mon compte</a>
                {% endif %}
                <span class="link-pipe">|</span>
                <a class="simple-link py-3" href="#">Mentions légales</a>
            </div>
        </div>
    </div>
</div>
